# ddclient test
version: "3.2"

services:
  ddclient:
    image: linuxserver/ddclient:v3.9.1-ls41
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - type: bind
        source: /apps/ddclient
        target: /config
#    volumes:
#      - type: volume
#        source: cocooning-nfs
#        target: /config
#        volume:
#          nocopy: false
    deploy:
      placement:
        constraints:
          - node.role == manager
#volumes:
#  cocooning-nfs:
#    driver: local
#    driver_opts:
#      type: "nfs"
#      o: "nfsvers=4,addr=192.168.1.100,rw"
#      device: ":/Cocooning-master/ddclient"
